/* Cartodb */
/* line 2, ../_sass/cdb.scss */
html, body, #map {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 8, ../_sass/cdb.scss */
#age_selector {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
}

/* line 15, ../_sass/cdb.scss */
#type_selector {
  position: absolute;
  top: 200px;
  right: 20px;
  padding: 0;
}

/* line 22, ../_sass/cdb.scss */
#age_selector ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 27, ../_sass/cdb.scss */
#type_selector ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 32, ../_sass/cdb.scss */
#age_selector li {
  border-bottom: 1px solid #999;
  padding: 15px 30px;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #444;
  cursor: auto;
}

/* line 41, ../_sass/cdb.scss */
#type_selector li {
  border-bottom: 1px solid #999;
  padding: 15px 30px;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #444;
  cursor: auto;
}

/* line 50, ../_sass/cdb.scss */
#age_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

/* line 54, ../_sass/cdb.scss */
#type_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

/* line 59, ../_sass/cdb.scss */
#age_selector li.selected {
  background-color: #EEE;
}

/* line 63, ../_sass/cdb.scss */
#type_selector li.selected {
  background-color: #EEE;
}
