/* Cartodb */
/* line 2, ../_sass/cdb.scss */
html, body, #map {
  height: 100%;
  padding: 0;
  margin: .5rem;
}

/* line 8, ../_sass/cdb.scss */
#age_selector {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  width: 230px;
}

/* line 16, ../_sass/cdb.scss */
#type_selector {
  position: absolute;
  top: 170px;
  right: 20px;
  padding: 0;
  width: 230px;
}

/* line 23, ../_sass/cdb.scss */
#medicine_selector {
  position: absolute;
  top: 410px;
  right: 20px;
  padding: 0;
  width: 230px;
}

/* line 31, ../_sass/cdb.scss */
#age_selector ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 36, ../_sass/cdb.scss */
#type_selector ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 40, ../_sass/cdb.scss */
#medicine_selector ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 45, ../_sass/cdb.scss */
#age_selector li {
  border-bottom: 1px solid #999;
  padding: 15px 30px;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #444;
  cursor: auto;
}

/* line 53, ../_sass/cdb.scss */
#medicine_selector li {
  border-bottom: 1px solid #999;
  padding: 15px 30px;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #444;
  cursor: auto;
}

/* line 61, ../_sass/cdb.scss */
#type_selector li {
  border-bottom: 1px solid #999;
  padding: 15px 30px;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #444;
  cursor: auto;
}

/* line 70, ../_sass/cdb.scss */
#age_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

/* line 74, ../_sass/cdb.scss */
#medicine_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

/* line 78, ../_sass/cdb.scss */
#type_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

/* line 83, ../_sass/cdb.scss */
#age_selector li.selected {
  background-color: #EEE;
}

/* line 87, ../_sass/cdb.scss */
#type_selector li.selected {
  background-color: #EEE;
}

/* line 90, ../_sass/cdb.scss */
#medicine_selector li.selected {
  background-color: #EEE;
}
