/* Cartodb */
/* line 2, ../_sass/cdb.scss */
html, body, #map {
  height: 100%;
  padding: 0;
}

/* line 7, ../_sass/cdb.scss */
#age_selector {
  position: absolute;
  top: 190px;
  padding: 0;
  width: 230px;
}

/* line 14, ../_sass/cdb.scss */
#type_selector {
  position: absolute;
  top: 340px;
  padding: 0;
  width: 230px;
}

/* line 20, ../_sass/cdb.scss */
#medicine_selector {
  position: absolute;
  top: 645px;
  padding: 0;
  width: 230px;
}

/* line 27, ../_sass/cdb.scss */
#age_selector ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 32, ../_sass/cdb.scss */
#type_selector ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 36, ../_sass/cdb.scss */
#medicine_selector ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 41, ../_sass/cdb.scss */
#age_selector li {
  border-bottom: 1px solid #999;
  padding: 15px 30px;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #444;
  cursor: auto;
}

/* line 49, ../_sass/cdb.scss */
#medicine_selector li {
  border-bottom: 1px solid #999;
  padding: 15px 30px;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #444;
  cursor: auto;
}

/* line 57, ../_sass/cdb.scss */
#type_selector li {
  border-bottom: 1px solid #999;
  padding: 15px 30px;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #444;
  cursor: auto;
}

/* line 66, ../_sass/cdb.scss */
#age_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

/* line 70, ../_sass/cdb.scss */
#medicine_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

/* line 74, ../_sass/cdb.scss */
#type_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

/* line 79, ../_sass/cdb.scss */
#age_selector li.selected {
  background-color: #EEE;
}

/* line 83, ../_sass/cdb.scss */
#type_selector li.selected {
  background-color: #EEE;
}

/* line 86, ../_sass/cdb.scss */
#medicine_selector li.selected {
  background-color: #EEE;
}

/* Cartdb.css selectors */
/* line 92, ../_sass/cdb.scss */
div.cartodb-searchbox {
  width: 300px;
  height: 30px;
  top: 40px;
  right: 1rem;
  margin: 0px;
}

/* line 100, ../_sass/cdb.scss */
div.cartodb-searchbox input.text {
  width: 260px;
}
