  <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,700 | Montserrat:700 | Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  <!--link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css"-->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cdb.css">

  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.ie.css" />
    <![endif]-->