<!-- Popup modal -->
<script type="text/javascript">
(function(){

  var container = document.documentElement,
    popup = document.querySelector( '.avgrund-popup' ),
    cover = document.querySelector( '.avgrund-cover' ),
    currentState = null;

  addClass( container, 'avgrund-ready' );

  // Deactivate on ESC
  function onDocumentKeyUp( event ) {
    if( event.keyCode === 27 ) {
      deactivate();
    }
  }

  // Deactivate on click outside
  function onDocumentClick( event ) {
    if( event.target === cover ) {
      deactivate();
    }
  }

  function activate( state ) {
    document.addEventListener( 'keyup', onDocumentKeyUp, false );
    document.addEventListener( 'click', onDocumentClick, false );

    removeClass( popup, currentState );
    addClass( popup, 'no-transition' );
    addClass( popup, state );

    setTimeout( function() {
      removeClass( popup, 'no-transition' );
      addClass( container, 'avgrund-active' );
    }, 0 );

    currentState = state;
  }

  function deactivate() {
    document.removeEventListener( 'keyup', onDocumentKeyUp, false );
    document.removeEventListener( 'click', onDocumentClick, false );

    removeClass( container, 'avgrund-active' );
  }

  function disableBlur() {
    addClass( document.documentElement, 'no-blur' );
  }

  function addClass( element, name ) {
    element.className = element.className.replace( /\s+$/gi, '' ) + ' ' + name;
  }

  function removeClass( element, name ) {
    element.className = element.className.replace( name, '' );
  }

  window.avgrund = {
    activate: activate,
    deactivate: deactivate,
    disableBlur: disableBlur
  }

})();
</script>

 <!-- include google maps library *before* load cartodb.js -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- include cartodb.js library -->
    <!--<script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script> -->
    <!-- use custom cartodb.js library -->
    <script src="js/cartodb_custom.js"></script>

    <script>
      // create layer selector
      function createSelector(layer) {
        var sql = new cartodb.SQL({ user: 'nycdaycaremap' });
        
        
        //set three variables intially at all
        var agerange = $('#age_selector li').attr('data');
        var sitetype = $('#type_selector li').attr('data');
        var medicinetype = $('#medicine_selector li').attr('data');
        

        //age
        var $options_age = $('#age_selector li');
        $options_age.click(function(e) {
          // get the data of the selected layer
          var $li = $(e.target);
          agerange = $li.attr('data');


          // deselect all and select the clicked one
          $options_age.removeClass('selected');
          $li.addClass('selected');

          // create query based on data from the layer
          //var query = "select * from basicinfo_combined";

          
          //all possible cases
          if(medicinetype != 'all' && sitetype != 'all' && agerange != 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE age_range LIKE "+ "'%"+agerange+"%'"+"AND site_type like "+ "'%"+sitetype+"%'"+"AND certified_to_administer_medication like "+ "'%"+medicinetype+"%'";
            }
            //
          if(agerange == 'all' && sitetype != 'all' && medicinetype != 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE site_type like "+ "'%"+sitetype+"%'"+"AND certified_to_administer_medication like "+ "'%"+medicinetype+"%'";
            }            
            //
          if(agerange != 'all' && sitetype == 'all' && medicinetype != 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE age_range LIKE "+ "'%"+agerange+"%'"+"AND certified_to_administer_medication like "+ "'%"+medicinetype+"%'";
            }
            //
          if(agerange != 'all' && sitetype != 'all' && medicinetype == 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE age_range LIKE "+ "'%"+agerange+"%'"+"AND site_type like "+ "'%"+sitetype+"%'";
            }
            //
          if(agerange == 'all' && sitetype == 'all' && medicinetype != 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE certified_to_administer_medication like "+ "'%"+medicinetype+"%'";
            }
            //
          if(agerange == 'all' && sitetype != 'all' && medicinetype == 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE site_type like "+ "'%"+sitetype+"%'";
            }
            //
          if(agerange != 'all' && sitetype == 'all' && medicinetype == 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE age_range LIKE "+ "'%"+agerange+"%'";
            }
            //
          if(medicinetype == 'all' && sitetype == 'all' && agerange == 'all') {
              query = "select * from basicinfo_combined";
            }

          // change the query in the layer to update the map
          layer.setQuery(query);

        });
        
        
//site type
        var $options_type = $('#type_selector li');
        $options_type.click(function(e) {
          // get the data of the selected layer
          var $li = $(e.target);
          sitetype = $li.attr('data');


 
          // deselect all and select the clicked one
          $options_type.removeClass('selected');
          $li.addClass('selected');

          // create query based on data from the layer
          //var query = "select * from basicinfo_combined";

          //all possible cases
          if(medicinetype != 'all' && sitetype != 'all' && agerange != 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE age_range LIKE "+ "'%"+agerange+"%'"+"AND site_type like "+ "'%"+sitetype+"%'"+"AND certified_to_administer_medication like "+ "'%"+medicinetype+"%'";
            }
            //
          if(agerange == 'all' && sitetype != 'all' && medicinetype != 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE site_type like "+ "'%"+sitetype+"%'"+"AND certified_to_administer_medication like "+ "'%"+medicinetype+"%'";
            }            
            //
          if(agerange != 'all' && sitetype == 'all' && medicinetype != 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE age_range LIKE "+ "'%"+agerange+"%'"+"AND certified_to_administer_medication like "+ "'%"+medicinetype+"%'";
            }
            //
          if(agerange != 'all' && sitetype != 'all' && medicinetype == 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE age_range LIKE "+ "'%"+agerange+"%'"+"AND site_type like "+ "'%"+sitetype+"%'";
            }
            //
          if(agerange == 'all' && sitetype == 'all' && medicinetype != 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE certified_to_administer_medication like "+ "'%"+medicinetype+"%'";
            }
            //
          if(agerange == 'all' && sitetype != 'all' && medicinetype == 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE site_type like "+ "'%"+sitetype+"%'";
            }
            //
          if(agerange != 'all' && sitetype == 'all' && medicinetype == 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE age_range LIKE "+ "'%"+agerange+"%'";
            }
            //
          if(medicinetype == 'all' && sitetype == 'all' && agerange == 'all') {
              query = "select * from basicinfo_combined";
            }


          // change the query in the layer to update the map
          layer.setQuery(query);
        });
        
//medicine

        var $options_medicine = $('#medicine_selector li');
        $options_medicine.click(function(e) {
          // get the data of the selected layer
          var $li = $(e.target);
          medicinetype = $li.attr('data');


          // deselect all and select the clicked one
          $options_medicine.removeClass('selected');
          $li.addClass('selected');

          // create query based on data from the layer
          //var query = "select * from basicinfo_combined";

          
          //all possible cases
          if(medicinetype != 'all' && sitetype != 'all' && agerange != 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE age_range LIKE "+ "'%"+agerange+"%'"+"AND site_type like "+ "'%"+sitetype+"%'"+"AND certified_to_administer_medication like "+ "'%"+medicinetype+"%'";
            }
            //
          if(agerange == 'all' && sitetype != 'all' && medicinetype != 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE site_type like "+ "'%"+sitetype+"%'"+"AND certified_to_administer_medication like "+ "'%"+medicinetype+"%'";
            }            
            //
          if(agerange != 'all' && sitetype == 'all' && medicinetype != 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE age_range LIKE "+ "'%"+agerange+"%'"+"AND certified_to_administer_medication like "+ "'%"+medicinetype+"%'";
            }
            //
          if(agerange != 'all' && sitetype != 'all' && medicinetype == 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE age_range LIKE "+ "'%"+agerange+"%'"+"AND site_type like "+ "'%"+sitetype+"%'";
            }
            //
          if(agerange == 'all' && sitetype == 'all' && medicinetype != 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE certified_to_administer_medication like "+ "'%"+medicinetype+"%'";
            }
            //
          if(agerange == 'all' && sitetype != 'all' && medicinetype == 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE site_type like "+ "'%"+sitetype+"%'";
            }
            //
          if(agerange != 'all' && sitetype == 'all' && medicinetype == 'all') {
              query = "SELECT * FROM basicinfo_combined WHERE age_range LIKE "+ "'%"+agerange+"%'";
            }
            //
          if(medicinetype == 'all' && sitetype == 'all' && agerange == 'all') {
              query = "select * from basicinfo_combined";
            }

          // change the query in the layer to update the map
          layer.setQuery(query);
        });
      }

      function main() {
              var map;
 
        // create google maps map
        var mapOptions = {
          zoom: 11,
          center: new google.maps.LatLng(40.682,-74.03),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map'),  mapOptions);
        var styles = [
          {
            stylers: [
              { hue: "#cca300" },
              { saturation: -60 }
            ]
          },{
            featureType: "road",
            elementType: "geometry",
            stylers: [
              { lightness: 10 },
           
           { visibility: "simplified" }
            ]
          },{
            featureType: "road",
            elementType: "labels",
            stylers: [
              { visibility: "off" }
            ]
          }
        ];
        map.setOptions({styles: styles});
        // create layer and add to the map, then add some intera
        cartodb.createLayer(map, 'http://nycdaycaremap.cartodb.com/api/v2/viz/ba2bce4e-f333-11e3-816d-0e230854a1cb/viz.json')
        .addTo(map)
        .on('done', function(layer) {
          var v = cdb.vis.Overlay.create('search', map.viz, {})
          $('#map').append(v.render().el);
          createSelector(layer);
        })
        .on('error', function() {
          cartodb.log.log("some error occurred");
        });
      }

      window.onload = main;
    </script>

