<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.title_tag_text }}</title>
        <meta name="viewport" content="width=device-width">

        {% include head.html %}

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <!--a class="extra" href="{{ site.baseurl }}/dev">Dev</a-->
              <h1><a href="/">{{ site.h1_tag_text }}</a></h1>
            </div>

                {{ content }}

            <div class="footer">
              <!--div class="contact">
                <p>
                  Your Name<br />
                  What You Are<br />
                  your@email.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/yourusername/">github.com/yourusername</a><br />
                  <a href="http://twitter.com/yourusername/">twitter.com/yourusername</a><br />
                </p>
              </div-->
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
