<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
             More info: h5bp.com/b/378 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Map of regulated day care centers in New York City. Center-based Group Child Care regulated by NYC DoHMH, Home-based Child Care care regulated by NYS OCFS. Information such as center name, site type, permit number provided in infowindows.">
    <link rel="image_src" href="https://raw.githubusercontent.com/childcaremap/NYCdaycare/gh-pages/NYCDayCareMap.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>

    <!-- Facebook Metadata /-->
    <!-- <meta property="fb:page_id" content=""/> -->
    <meta property="og:image" content="https://raw.githubusercontent.com/childcaremap/NYCdaycare/gh-pages/NYCDayCareMap.png"/>
    <meta property="og:description" content="Map of regulated day care centers in New York City, Center-based Group Child Care regulated by NYC DoHMH, Home-based Child Care care regulated by NYS OCFS."/>
    <meta property="og:title" content="NYC Day Care Map"/>
    <meta property="og:url" content="http://childcaremap.github.io/NYCdaycare/"/>

    <!-- Google+ Metadata /-->
    <meta itemprop="name" content="NYC Day Care Map"/>
    <meta itemprop="description" content="Map of regulated day care centers in New York City. Center-based Group Child Care regulated by NYC DoHMH, Home-based Child Care care regulated by NYS OCFS."/>
    <meta itemprop="image" content="https://raw.githubusercontent.com/childcaremap/NYCdaycare/gh-pages/NYCDayCareMap.png"/>

    <!-- Twitter Summary Card -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="NYC Day Care Map" />
    <meta property="twitter:description" content="Map of regulated day care centers in New York City." />
    <meta property="twitter:image" content="https://raw.githubusercontent.com/childcaremap/NYCdaycare/gh-pages/NYCDayCareMap.png" />
    <meta property="twitter:url" content="http://childcaremap.github.io/NYCdaycare/" />


    <title>{{ site.title_tag_text }}</title>

    <!-- syntax highlighting CSS -->

    {% include head.html %}
    
    </head>
<body>

<div class="container" data-target="top"> <!--container-->

<div gumby-fixed="1" gumby-pinoffset="0" class="pretty navbar row nav1" id="nav1">
  <!-- Toggle for mobile navigation, targeting the <ul> -->
  <a class="toggle" gumby-trigger=".nav1 > ul" href="#"><i class="icon-menu"></i></a>
  <h1 class="nine columns header">
    <a href="#">
        <a href="{{ site.baseurl }}/">{{ site.h1_tag_text }}</a></h1>
    </a>
  </h1>
  <ul class="three columns">
    <li><a href="mailto:nycdaycaremap@gmail.com" data-rel="external"><!--i class="icon-export"></i-->Contact</a></li>
    <!--li><a href="#">Filter</a></li-->
    <li>
      <a href="#">About</a>
      <div class="dropdown">
        <ul>
            <li class="skiplink"><a href="#" gumby-update gumby-duration="10" gumby-goto="[data-target='about-story']">How it started</a></li>
            <li class="skiplink"><a href="#" gumby-update gumby-duration="10" gumby-goto="[data-target='about-map']">The map</a></li>
            <li class="skiplink"><a href="#" gumby-update gumby-duration="10" gumby-goto="[data-target='about-team']">The team</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<!--mobile searchbar --><!--data-tooltip="” -->
<!--div class="row searchbar">
    <ul>
        <li>
        <div class="twelve columns cartodb-searchbox mobile">
        <form>
            <span class="loader"></span>
            <input type="text" class="text" value="" placeholder="Enter street address">
            <input type="submit" class="submit" value=" ">
        </form>
        </div>
        </li>
        <li>
        <div class="two columns location"><a href="#" class=""><i class="icon-direction"></i></a>
        </div>
        </li>
    </ul>
</div-->

<!--mobile filterbar -->
<div class="row filterbar nav2" id="nav2">
    <ul class="twelve columns" style="padding:3px 0 2px;">
        <li class="" style="font-size:.8rem;padding-left:10px;vertical-align:middle;"><!--strong>Showing:</strong> xxx--><div id="yo-button"></div></li>
        <li class="" style="font-size:2rem;vertical-align:middle;"><div><a href="#" class="ttip" data-tooltip="Show Listing" alt=" "><i class="icon-list"></i></a></div></li>
        <li class="" style="vertical-align:middle;padding-right:10px;"><div class="medium info btn icon-left icon-flow-parallel"><a href="#" class="toggle" gumby-trigger=".infobox">Filter</a></div></li>

    </ul>
</div>

<div id="map"><img src="{{ site.baseurl }}/img/ajax-loader.gif" id="loader"></div>

<div class="infobox mobile modal" id="modal1">
    <div class="content">
    <a class="close switch" gumby-trigger="|#modal1"><i class="icon-cancel"/></i></a>
    <div id="filter_selector" class="">
        <div class="info-menu"><i class="icon-flow-parallel"> Filter</i></div>
    </div>
    <div id="age_selector" class="">
        <ul>    
            <div class="info-menu"><a class="toggle" gumby-trigger=".dcyears" href="#">Choose an age range</a></div>
            <ul class="dcyears">
                <li data="all" class="selected">All Ages</li>
                <li data="0 YEARS - 2 YEARS">0 - 2 Years</li>
                <li data="2 YEARS - 5 YEARS">2 - 5 Years</li>
            </ul>
        </ul>
    </div>
    <div id="type_selector" class="">
        <ul>
            <div class="info-menu"><a class="toggle" gumby-trigger=".dctype" href="#">Day Care Program</a></div>
            <ul class="dctype">
                <li data="all" class="selected">All</li>
                <li data="Private">Private</li>
                <li data="ACS Head Start">ACS Head Start</li>
                <li data="ACS Contracted Preschools">ACS Contracted Preschools</li>
                <li data="Head Start (Direct Fed. Funding)">Head Start Direct Fed Funding</li>
                <!-- <li data="Corporate">Corporate</li> -->
                <li data="Home-Based">Home-Based (Family Day Care)</li>
            </ul>
        </ul>
    </div>
    <div id="medicine_selector" class="">
        <ul>
            <!--div class="info-menu"><a class="toggle" gumby-trigger=".meds" href="#"><i class="icon-plus-squared"></i> Certified to give medicine?</a></div-->
            <ul class=" ">
              <li data="all"><input class="data-swap" data="all" type="checkbox"> &nbsp;Certified To Give Medicine?</li>
               <!--li class="data-swap" data="all" data-label-on="Hide" data-label-off="Show" style="text-align:center;border:1px solid #808080;padding:4px 10px;margin:15px 15px;">Show</li>
                <li class="toggle" gumby-trigger=".medoff" data="Yes" class="medon">Yes</li>
                <li data="No" class="medoff">No</li-->
                <!--li data="Yes" style="display:inline;border:1px solid #808080;padding:4px 10px;margin:15px 15px;">Show</li>
                <li data="all" style="display:inline;padding:4px 10px;border:1px solid #808080;color:red;margin:15px 0px;">Cancel</li-->
                <!--li data="all" class="selected">All</li>
                <li data="Yes">Certified to give medicine</li>
                <li data="No">Not certified to give medicine</li-->
            </ul>
        </ul>
    </div>
    <div style="float:left;text-align:center;margin-top:30px;" class="btn primary medium"><a href="#" class="switch" gumby-trigger="|#modal1">Save &amp; Close</a></div>
    </div>
</div>

    {{ content }}

<div class="about-bgcolor story">
<div data-target="about-story" class="space-large-screens"></div>
<div class="about-box">
    <h1 class="inview txt" gumby-classname="onscreen" gumby-offset="5">The Story</h1>
    <p class="inview txt" gumby-classname="onscreen" gumby-offset="5">For background on how the project was started please read the following HuffPostCode article:</p>
    <p class="inview link" gumby-classname="onscreen"><a href="http://www.huffingtonpost.com/marc-shifflett/when-open-data-meets-app_b_5504232.html" target="_blank">Scraping Day Care Data in the Naked City</a></p>
    <p class="inview txt" gumby-classname="onscreen" gumby-offset="5">Please VOTE for us at the BigApps competion by following the link below, click on VOTE and choose "NYCDayCareMap". Thanks!</p>
    <p class="inview link" gumby-classname="onscreen" gumby-offset="5"><a href="http://nycbigapps.com/projects" target="_blank">BigApps Project Hub</a></p>
</div>
<p style="text-align: center;"><a href="#" gumby-update gumby-goto="[data-target='top']"><i class="icon-home"></i></a></p>
</div>

<div class="about-bgcolor map">
<div data-target="about-map" class="space-large-screens"></div>
<div class="about-box">
    <h1 class="inview txt" gumby-classname="onscreen" gumby-offset="5">The Map</h1>
    <p class="inview txt" gumby-classname="onscreen" gumby-offset="5">This is a map of regulated day care centers within the five boroughs of New York City created from data scraped off the NYCDoHMH and NYSOFCS government web sites, last updated on July 14th 2014. This would not have been possible without the generous assistance from the</p>
    <p class="inview link" gumby-classname="onscreen" gumby-offset="5"><a href="http://betanyc.us/" target="_blank">BetaNYC civic hacker community</a>.</p>
    <p class="inview txt" gumby-classname="onscreen" gumby-offset="5">Please VOTE for us at the BigApps competion by following the link below, click on VOTE and choose "NYCDayCareMap". Thanks!</p>
    <p class="inview link" gumby-classname="onscreen"><a href="http://nycbigapps.com/projects" target="_blank">BigApps Project Hub</a></p>
</div>
<p style="text-align:center;"><a href="#" gumby-update gumby-goto="[data-target='top']"><i class="icon-home"></i></a></p>
</div>

<div class="about-bgcolor team">
<div data-target="about-team" class="space-large-screens"></div>
<div class="about-box">
    <h1 class="inview txt" gumby-classname="onscreen" gumby-offset="5">The Team</h1>
    <p class="inview txt" gumby-classname="onscreen" gumby-offset="5">For Details please visit our splash page at:</p> 
    <p class="inview link" gumby-classname="onscreen" gumby-offset="5"><a href="http://nycdaycaremap.splashthat.com/" target="_blank">BigAppsNYC</a></p>
    <p class="inview txt" gumby-classname="onscreen" gumby-offset="5">Please VOTE for us at the BigApps competion by following the link below, click on VOTE and choose "NYCDayCareMap". Thanks!</p>
    <p class="inview link" gumby-classname="onscreen"><a href="http://nycbigapps.com/projects" target="_blank">BigApps Project Hub</a></p>
</div>
<p style="text-align:center;margin-bottom:3rem;"><a href="#" gumby-update gumby-goto="[data-target='top']"><i class="icon-home"></i></a></p>
</div>

<div id="footer" class="row">
    <ul>
    <li class="two columns" style="vertical-align:middle;"><a href="#top" gumby-update gumby-goto="[data-target='top']">&copy; NYC Day Care Map</a></li> 
    <li class="ten columns" style="text-align:right;vertical-align:top;">Check us out on <a href="https://github.com/childcaremap/NYCdaycare" target="new window"><i class="icon-github"></i></a></li>
    <ul>
</div>

    <!-- /container -->
    </div>

    {% include scripts.html %} 

<script type="text/javascript">
    var _yoData = {
        "username": "NYCDAYCAREMAP",
        "trigger": "your child turns 1-2-3-4-yo!"
    };
    var s = document.createElement("script");
    s.type = "text/javascript";
    s.src = "//yoapp.s3.amazonaws.com/js/yo-button.js";
    (document.head || document.getElementsByTagName("head")[0]).appendChild(s);
</script>
    </body>
</html>
