<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Map of group child care services that have been issued permits by the New York City Department of Health. Information such as center name, site type, permit number provided in infowindows.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <title>{{ site.title_tag_text }}</title>

        <!-- syntax highlighting CSS -->

        {% include head.html %}

    </head>
    <body>

    <div class="container" style="display:inline;"> <!---->

        <div class="header">
            <!--a class="extra" href="{{ site.baseurl }}/dev">Dev</a-->
            <h1><a href="{ site.baseurl }}/">{{ site.h1_tag_text }}</a></h1>
            <p>Map of daycare centers with permit issued by NYC DoHMH.</p>
        </div>
        <p>
        <hr>
        </p>

    {{ content }}

        <div class="footer">
            <hr>

<p>
This map was made with great help from the <a href="http://betanyc.us/" target="new window">BetaNYC</a> community. This is work in progress, check out the current status on our <a href="https://github.com/child-care-map/NYCmap" target="new window">github repo</a>.
</p>
        </div>

    <!-- /container -->
    </div>

    {% include scripts.html %} 

    </body>
</html>
