<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Map of regulated day care centers in New York City. Center-based Group Child Care regulated by NYC DoHMH, Home-based Child Care care regulated by NYS OCFS. Information such as center name, site type, permit number provided in infowindows.">
        <link rel="image_src" href="https://raw.githubusercontent.com/childcaremap/NYCdaycare/gh-pages/NYCDayCareMap.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ site.title_tag_text }}</title>

        <!-- syntax highlighting CSS -->

        {% include head.html %}

    </head>
    <body>

    <div class="container">
        <div class="header">
            <!--a class="extra" href="{{ site.baseurl }}/dev">Dev</a-->
            <h1><a href="{ site.baseurl }}/">{{ site.h1_tag_text }}</a></h1>
        </div>

    {{ content }}

        <div class="footer">
              <!--div class="contact">
                <p>
                  Your Name<br />
                  What You Are<br />
                  your@email.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/yourusername/">github.com/yourusername</a><br />
                  <a href="http://twitter.com/yourusername/">twitter.com/yourusername</a><br />
                </p>
              </div-->
        </div>
    </div>
    <!-- /container -->
    
    {% include scripts.html %} 

    </body>
</html>
